* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --grey-2: #eaeaea;
  --grey: #353535;
}

body {
  max-width: 1440px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "shrikhand", "sans-serif";
}

.btn-linear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58.13%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  margin: auto;
  margin-top: 27px;
  margin-bottom: 57px;
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-width: 0;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  transition: all 300ms;
}
.btn-linear:hover {
  opacity: 0.85;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
}
.btn-linearbtn-linear--pages {
  width: 49.6%;
}

.hearth {
  position: relative;
  display: flex;
  padding-right: 33px;
  padding-top: 5px;
}
.hearth .fa-solid {
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 330ms ease-in-out;
}
.hearth .fa-regular {
  color: black;
}

@keyframes hearth-visible {
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hearth-close {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
.hearth:hover .fa-regular {
  display: none;
  opacity: 0;
}
.hearth:hover .fa-solid {
  display: block;
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 1024px) {
  .btn-linear {
    width: 17.63%;
  }
}
body {
  width: 100%;
}

.fa-arrow-left {
  color: #101010;
}

.logo-header {
  display: flex;
  width: 197px;
  justify-content: center;
  align-items: center;
}
.logo-header img {
  width: 162px;
  display: flex;
  height: 36px;
  padding: 0px 19px 0px 16px;
  justify-content: center;
  align-items: center;
}

footer {
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 16px;
  background-color: #353535;
}
footer i {
  color: #ffffff;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 22px 25px;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}
.footer__food {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.footer__partnair {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.footer__contact {
  width: 130px;
}
.footer__contact a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .appbar {
    overflow: hidden;
    padding: 30px 0px 31.798px 0px;
  }
  footer {
    display: flex;
    height: 114px;
    padding: 30px 25px;
    align-items: flex-end;
    gap: 16px;
    flex-direction: row-reverse;
  }
  .footer {
    flex-direction: row;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }
  .footer__food {
    width: 190px;
  }
  .footer__partnair {
    width: 190px;
  }
  .footer__mention {
    width: 130px;
  }
  .footer-logo {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 500px) {
  .logo-header {
    width: 80%;
  }
}
.appbar {
  display: flex;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  width: 100%;
  height: 50px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  white-space: nowrap;
  background: #eaeaea;
}
.location i {
  width: 12px;
  height: 16px;
  color: #353535;
}

.text-search {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  text-align: left;
  outline: none;
  width: 85%;
}

.reservation {
  background: #f6f6f6;
}
.reservation h1 {
  overflow: hidden;
  text-align: center;
  margin-top: 39px;
  margin-left: 11%;
  margin-right: 15.5%;
  padding: 0px 24px 24px 24px;
  /* Section Title */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reservation p {
  width: 84%;
  text-align: center;
  margin: auto;
  color: #353535;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Paragraph */
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  /* Section Title */
  font-family: Roboto;
}
.fonctionnement h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.fonctionnement__btn {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 25px;
  gap: 25px;
}
.fonctionnement__btn__number {
  width: 100%;
  margin: auto;
}

.circle-number {
  display: flex;
  flex-direction: row;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -9px;
  border-radius: 12px;
  background-color: #9356dc;
}

.btn-menu {
  width: 100%;
  height: 72.379px;
  border-radius: 20px;
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Shadow/Instructions */
  border-width: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.btn-menu__icon {
  display: flex;
  margin-left: 34.71px;
  margin-right: 27px;
  position: relative;
}

.restaurants {
  display: flex;
  padding: 54px 20px 66px 20px;
  flex-direction: column;
  gap: 18px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants a {
  display: flex;
  width: 100%;
  text-decoration: none;
}
.restaurants .cards {
  width: 100%;
  height: 251px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants .cards__new {
  display: flex;
  flex-direction: row-reverse;
}
.restaurants .cards__new__text {
  display: flex;
  flex-direction: row;
  position: absolute;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--Green-Font, #008766);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 80px;
  height: 29px;
  margin: 13px 12px 0 0;
  align-items: center;
  justify-content: center;
}
.restaurants .cards__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .cards__content__titre {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 16px 0px 12px 13px;
}
.restaurants .cards__content__titre__title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .cards__content__titre__subtitle {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurants .cards img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.restaurants__line1 {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}
.restaurants__line2 {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}

@media (min-width: 768px) {
  .fonctionnement__btn {
    flex-direction: row;
  }
  .reservation h1 {
    margin: auto;
    margin-top: 39px;
  }
  .restaurants__line1 {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
  }
  .restaurants__line2 {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
  }
}
@media (min-width: 1024px) {
  .reservation h1 {
    margin-top: 30px;
  }
  .reservation p {
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
  }
  .fonctionnement {
    padding: 50px 180px;
    gap: 25px;
  }
  .fonctionnement__btn {
    flex-direction: row;
    gap: 24px;
  }
  .fonctionnement__btn__number {
    width: 322px;
    height: 72.379px;
  }
  .fonctionnement__btn .btn-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fonctionnement__btn .btn-menu__icon {
    justify-content: center;
  }
  .fonctionnement__btn p {
    position: absolute;
  }
  .btn-menu__icon {
    width: 13.037px;
    height: 20px;
    position: inherit;
  }
  .restaurants {
    padding: 30px 180px 30px 180px;
    align-items: flex-start;
    gap: 28px;
  }
  .restaurants a {
    width: 46.17%;
  }
  .restaurants__line1 {
    flex-direction: row;
    gap: 100px;
  }
  .restaurants__line2 {
    flex-direction: row;
    gap: 100px;
  }
  .restaurants .cards__content {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  body {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .appbar {
    padding: 0;
  }
  .logo-header img {
    width: 100px;
  }
}
.fa-arrow-left {
  width: 30px;
  height: 30px;
}

.appbar--pages {
  display: flex;
  height: 63px;
  padding: 14px 0 13px 17px;
  align-items: center;
  justify-content: center;
}
.appbar--pages a {
  margin-right: 85%;
  position: absolute;
}
.appbar--pages img {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: -8.53%;
  position: relative;
  gap: 40px;
  border-radius: 40px 40px 0px 0px;
  background: var(--Background, #f6f6f6);
}

.title__hearth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 32px 17px 0 17px;
}
.title__hearth h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.main__img {
  height: 275px;
  object-fit: cover;
}

.center {
  animation: delay 2s infinite;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.center h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

@keyframes entrees {
  0% {
    translate: -9999px;
  }
  100% {
    translate: 0;
  }
}
.entrees {
  padding: 0 13px 0 13px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  animation: entrees 1s 0.2s forwards;
}
.entrees h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.plats {
  padding: 0 13px 0 13px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  animation: entrees 1s 0.4s forwards;
}
.plats h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.desserts {
  padding: 0 13px 0 13px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  animation: entrees 1s 0.6s forwards;
}
.desserts h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.card {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15.043px;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.card__content {
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.card__content i {
  color: white;
}
.card__content__title {
  display: flex;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
.card__content__subtitle {
  display: flex;
  color: #000;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
  justify-content: space-between;
  position: relative;
  white-space: nowrap;
}
.card__content__subtitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__content__subtitle span {
  display: flex;
  font-weight: 700;
  padding-left: 5%;
  position: relative;
  width: 15%;
}
.card .check-visible {
  padding: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: relative;
  width: 15%;
  display: flex;
  padding-left: 15px;
  opacity: 0;
  content: "";
  color: white;
  border-radius: 0 15.043px 15.043px 0;
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  margin-right: -13%;
  transition: all 0.5s ease-in-out;
}
.card .check-visible .check-visible {
  display: none;
}

.card:hover .check-visible {
  visibility: visible;
  display: flex;
  margin-right: 0%;
  opacity: 1;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.card:hover .line {
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

@media (min-width: 768px) {
  .background-main {
    width: 100%;
    margin-top: -21%;
    background-color: white;
  }
  .main__img {
    height: 618px;
    object-position: bottom;
  }
  .container {
    width: 76.26%;
    margin: auto;
    margin-top: -8.17%;
  }
}
.card .check-visible {
  width: 15%;
}

@media (min-width: 1024px) {
  .background-main {
    margin-top: -25.31%;
  }
  .container {
    margin-top: -5%;
  }
  .title__hearth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 51px;
    gap: 24px;
  }
  .main__img {
    object-position: bottom;
  }
  .card {
    width: 60.09%;
  }
  .card .check-visible {
    width: 15%;
  }
  .center {
    align-items: center;
    padding: 0px 13px;
  }
  .entrees {
    padding: 0;
  }
  .entrees h2 {
    margin-left: 21%;
  }
  .entrees .line {
    margin-left: 21%;
  }
  .plats {
    padding: 0;
  }
  .plats h2 {
    margin-left: 21%;
  }
  .plats .line {
    margin-left: 21%;
  }
  .desserts {
    padding: 0;
  }
  .desserts h2 {
    margin-left: 19.9%;
  }
  .desserts .line {
    margin-left: 19.9%;
  }
}
@media (max-width: 400px) {
  .card .check-visible {
    width: 20%;
  }
}
.lds-dual-ring {
  display: flex;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-default {
  max-width: 100%;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  animation: lds-default-visible 3s forwards;
}
.lds-default div {
  position: relative;
}

.lds-default span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default span:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 29px;
}

.lds-default span:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 25px;
}

.lds-default span:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 15px;
}

.lds-default span:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 0px;
}

.lds-default span:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: -15px;
}

.lds-default span:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: -26px;
}

.lds-default span:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: -30px;
}

.lds-default span:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: -26px;
}

.lds-default span:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: -15px;
}

.lds-default span:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 0px;
}

.lds-default span:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 15px;
}

.lds-default span:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 25px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes lds-default-visible {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
