* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --grey-2: #eaeaea;
  --grey: #353535;
}

body {
  max-width: 1440px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "shrikhand", "sans-serif";
}
