$colorPrimary: #9356dc;
$colorSecondary: #ff79da;
$colorTertiary: #99e2d0;
$secondBackground: #eaeaea;
$primaryBackground: #f6f6f6;
$buttonGradient: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
$textBtn: #fff;
$icon: #353535;
